.feature{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fe-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    padding: 10px;
}
.fe-content-1,.fe-content-2,.fe-content-3{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 20px 30px;
    box-shadow: 0 0 5px 2px rgb(224, 222, 222);

}
.fe-content-1:hover, .fe-content-2:hover, .fe-content-3:hover{
    background-color: rgb(16, 175, 238);
    transition: all ease 200ms;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: rgb(16, 175, 238) 0px 5px 10px 0px;
}
.fe-info{
    display: flex;
    font-size: 18px;
    align-items: flex-start;
}
.fe-img{
    min-width: 58px;
    margin-top: 21px;
}
.fe-content-1 p, .fe-content-2 p, .fe-content-3 p{
    margin: 0;
    color: black;
}
.fe-content-1 h4,.fe-content-2 h4,.fe-content-3 h4{
    margin-left: 10px;
    color: black;
}
.fe-content-1:hover .fe-img, .fe-content-2:hover .fe-img, .fe-content-3:hover .fe-img{
    filter: brightness(0) invert(1);
}
.fe-content-1:hover h4, .fe-content-2:hover h4, .fe-content-3:hover h4{
    color: white;
}
.fe-content-1:hover p, .fe-content-2:hover p, .fe-content-3:hover p{
    color: white;
}

@media screen and (max-width : 850px) {
    .feature{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .fe-container{
        padding: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .fe-content-1, .fe-content-2, .fe-content-3{
        width: 60%;
        box-shadow: 0 0 5px 2px rgb(224, 222, 222);
    }
    .fe-info{
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }
    .fe-info h4{
        margin: 0;
    }
    
}