.footer{
    margin: 0;
    padding: 0;
    height: auto;
    display: grid;
}
.ft-container{
    min-width: 850px;
    display:inline-flex;
    justify-content: space-evenly;
}


.ft-ul{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

}
.ft-li{
    padding: 5px;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    
}
.ft-li a{
    text-decoration: none;
    color: gray;
}
.ft-li a:hover{
    color: aqua;
}
.get-in-touch{
    margin-top: 16px;
    width: 220px;
    height: fit-content;
    text-transform: capitalize;
}
.get-in-touch p{
    color: gray;
}
.ft-imgs{
    display: flex; 
}
.ft-imgs img{
    width: 40px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.ft-msg{
    padding: 40px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: gray;
}