.fp-container{
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between; 
}
.fp-img{
    display: flex;
    overflow: hidden;
}
.fp-img1{
    min-width: 500px;
}
.fp-content{
    margin: 80px 0px;
    width: 600px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info{
    margin: 0;
    font-size: 40.96px;
    font-weight: 800;
    line-height: 54.96px;
    letter-spacing: 0.14px;
    font-family: 'Montserrat';   
}
.sub-info{
    color: rgb(92, 90, 90);
    font-size: 22px;
}
.fp-btn1{
    width: auto;
    padding: 20px 50px;
    background-color: rgb(16, 175, 238);
    color: white;
    border-radius: 50px;
    border: transparent;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}
.fp-btn1:hover,.fp-btn2:hover{
    background-color: rgb(10, 104, 141);
    transition: all ease 500ms;
    color: white;
    cursor: pointer;
}

.fp-btn2{
    margin-left: 10px;
    width: auto;
    padding: 18px 50px;
    color: aqua;
    border-radius: 50px;
    border: 2px solid #00ffff;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width : 850px) {
    .fp-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .fp-img{
        margin-top: 6%;
        max-width: 500px;
        aspect-ratio: 3/1.5;
        overflow:hidden;
    }
    .detail{
        width: 270px;
        text-align: center;
    }
    br{
        display: none;
    }
    .fp-content{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info{
        margin: 0;
        font-size: 30.96px;
        font-weight: 800;
        line-height: 40.96px;
        letter-spacing: 0.14px;
        font-family: 'Montserrat';
    }
    .sub-info{
        margin-top: 30px;
        color: rgb(92, 90, 90);
        font-size: 18px;
    }
    .fp-btn1{
        margin-top: 20px;
        width: auto;
        padding: 18px 60px;
    }
    .fp-btn2{
        margin-top: 20px;
        width: auto;
        padding: 16px 50px;
    }
   
}