.fp-container{
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    background: #cfcaca;
}
.fp-img{
    display: flex;
    overflow: hidden;
    width: 58%;
}
.fp-img1{
    min-width: 500px;
    border-radius: 10px 180px 10px 180px;
}
.fp-content{
    margin: 80px 0px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
}

.info{
    align-items: end;
    margin: 0;
    font-size: 40.96px;
    font-weight: 800;
}
.sub-info{
    color: rgb(92, 90, 90);
    font-size: 20px;
}
.fp-btn1 {
    width: 200px;
    padding: 18px 35px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    box-shadow: rgb(16, 175, 238) 0px 2px 1px 0px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
  }
.fp-btn1:hover , .fp-btn2:hover{
    letter-spacing: 1px;
    background-color: rgb(16, 175, 238);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(16, 175, 238) 0px 5px 10px 0px;

}
.fp-btn2{
    width: 160px;
    padding: 18px 30px;
    text-transform: uppercase;
    margin-left: 10px;
    color: rgb(0, 153, 255);
    border:0;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgb(16, 175, 238) 0px 2px 1px 0px;
    font-size: 12px;
    transition: all 0.5s ease;
}
@media screen and (max-width : 850px) {
    .fp-container{
        margin-top: 75px;
        padding: 50px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    br{
        display: none;
    }
    .fp-content{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detail,.fp-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .info{
        width: 270px;
        margin: 0;
        font-size: 30.96px;
        font-weight: 800;
    }
    .sub-info{
        width: 270px;
        margin-top: 30px;
        color: rgb(90, 92, 90);
        font-size: 18px;
    }
    .fp-btn1{
        margin-top: 15px;
        width: auto;
        padding: 18px 60px;
    }
    .fp-btn2{
        margin-left: 0;
        margin-top: 20px;
        width: auto;
        padding: 16px 50px;
    }
    .fp-img{
        margin-top: 6%;
        overflow:hidden;
        width: 100%;
        justify-content: center;
    }
    .fp-img1{
        min-width: 200px;
        max-width: 320px;
        aspect-ratio: 1/0.8;
        border-radius: 10px;
    }
}
