.Navbar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.nav-container{
    display: flex;
    margin-right: 100px;
}
.nav-li{
    padding: 10px;
    list-style: none;
}
.nav-a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
.nav-a:hover{
    color: aqua;
    border-bottom: 2px solid aqua;
}

.login-btn{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: transparent;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;

}
.login-btn:hover ,.member-btn:hover{
    background-color: rgb(10, 104, 141);
    transition: all ease 500ms;
    color: white;
    cursor: pointer;
}
.member-btn{
    width: 200px; 
    height: 40px;
    margin-left: 10px; 
    border-radius: 10px;
    border: transparent;
    background-color: rgb(16, 175, 238);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize
}
.mobile-Navbar,.mobile-nav{
    display: none;
    justify-content: center;
    align-items: center;
}
#mobile-nav-li{
    padding: 10px;
}
.cross_icon{
    display: none;
    position: absolute;
    width: 30px;
    top: 10px;
    left: 85%;
}
.mobile-brand-name{
    font-size: 22px;
    display: none;
    position: absolute;
    top: 2%;
    left: 20px;
}


/* Responsive Navbar */
@media screen and ( max-width : 850px) {
    .nav-container,.login-btn,.member-btn{
        display: none;
    }
    .Navbar{
        box-sizing: border-box;
        padding: 0 20px;
        justify-content: space-between;
        top: 0;
        position: fixed;
        background: white;
        border-bottom: 1px solid rgb(128, 128, 128);
        z-index: 5;
    }
    .mobile-nav{
        display: inherit;
        align-items: center;
        justify-content: center;
    }
    #mobile-nav-li{
        right: 0;
        padding: 10px;  
    }
    .nav-container .nav-a{
        color: white;
    }
    .nav-a:hover{
        color: aqua;
    }
    .nav-container{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: -100%;
        padding: 100px 0; 
        transition: all ease .5s;
        display: inherit;
        flex-direction: column;
        align-items: center;
        background: rgb(171, 175, 174);
    }
    .cross_icon{
        display: inherit;
    }
    .mobile-brand-name{
        display: inherit;
    }
    
}
   
