.offer{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-h1{
    width: 200px;
    padding: 10px;
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: transparent;
    transition: .5s linear;
}
  
.offer-h1:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
  
.offer-h1:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
  
.offer:hover .offer-h1 {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
}
  
.offer:hover .offer-h1:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .5s height linear .3s;
}
  
.offer:hover .offer-h1:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .5s height linear .5s;
}
.offer p{
    color: gray;
}
.off-container{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    overflow: hidden;

}
.off-container h5{
    color: gray;
}
.off-container1 ,.off-container2{
    overflow: auto;
    padding: 20px; 
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid aqua;
    border-radius: 10px;
    overflow: hidden;
}
.off-container1:hover , .off-container2:hover{
    box-shadow: 0px 0px 20px 1px aqua;
}
.off-container1 ,.off-container2 h4,h5{
   margin: 0;
}
.off-price{
    width: 150px;
    gap: 10px; 
    display:flex;
    justify-content: center;
    align-items: center;
    color: aqua;
}
.off-price h1{
    font-size: 40px;
}
.off-price div{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.off-price div h5{
    margin: 0;
    padding: 1px;
    display: flex;
    align-items: center;
    color: aqua;
}
.off-section{
    width: 300px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
span{
    margin-top: 5px;
    width: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(0, 202, 0);
    
}
.off-sec{
    display: flex;
    align-items: center;
    text-align: start;
    gap: 5px;
    font-weight: bold;
}
#lbl-2{
    background: rgb(153, 155, 153);
}
.tick-img{
    width: 15px;
}
.off-btn1:hover{
    letter-spacing: 2px;
    background-color: rgb(16, 175, 238);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(16, 175, 238) 0px 5px 10px 0px;
}
.off-btn1{
    width: 200px; 
    padding: 12px 12px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(16, 175, 238);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize
}
.off-btn-a{
    margin: 40px;
}

@media screen and (max-width : 850px) {
    .offer{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .offer p{
        color: gray;
        padding: 0 20px;
    }
    .off-container{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .off-container1, .off-container2{
        margin: 0;
        padding: 20px;
        width: 80%;
        gap: 0;
    }
   
    .off-price div,h1{
        margin: 0;
        padding: 2px;
    }
    .off-section{
        width: fit-content;
        padding: 10px 0;
    }
    .off-sec{
        font-size: 13px;
        padding: 2px 5px;
    }
    .off-sec span{
        width: 10px;
        padding: 10px;     
    }
    .off-btn-a{
        margin: 20px;
    }

}
