
.registration{
    margin-top: 50px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.registration h4,h1{
    margin: 0;
}
.registration-form{
    width: 500px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    
}
.form-container{
    width: 100%;
    aspect-ratio: 2/0.4;
    padding: 80PX;
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    margin-top: 30PX;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
    height: 25px;
}

textarea{
    max-width: 495px;
    background: white;
    border: none;
    border-radius: 5px;
}
.form-btn{
    margin-top: 30px;
    width: 200px;
    padding: 13px 0;
    cursor: pointer;
    background-color: rgb(16, 175, 238);
    border: transparent;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.form-info{
    display:flex;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.form-info1{
    max-width: 570px;
}
.form-info2{
    width: min-content;
    padding: 0 40px 0 0;
}
.form-info p{
    margin: 0;
}
.form-info h1{
    max-width: 570px;
}
.form-btn1:hover ,.form-btn2:hover{
    letter-spacing: 2px;
    background-color: rgb(16, 175, 238);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(16, 175, 238) 0px 0px 10px 0px;
}
.form-btn1,.form-btn2{
    width: 200px; 
    padding: 12px 12px;
    margin-left: 15px; 
    border-radius: 10px;
    border: transparent;
    background-color: rgb(16, 175, 238);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize
}

@media screen and (max-width : 850px) {
    .registration{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-container{
        width: 80%;
        padding: 20px;
    }
    .registration-form{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    form{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .form-input{
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .form-btn{
        width: 100%;
        max-width: 250px;
    }
    .form-btn1{
        width: auto;
        max-width: 320px;
        margin: 0;
    }
    .form-info{
        margin: 0;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .form-info2{
        padding: 0 10px;
        margin-top: 30px;
    }
}

